<html>
  <head>
    {% if title %}
      <title>{{ title }} -микроблог</title>
    {% else %}
      <title>микроблог</title>
    {% endif %}
  </head>
  <body>
    <div>
      Микроблог:
      <a href="{{ url_for('index') }}">Главная</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Вход</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Выход</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <hr>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
